/* colors */
$color-first: #1fb5ad;
$color-second: #32323a;
$color-third: #28282e;

$color-danger: #fda300;


/* gaps */
$padding-primary: 15px;
$padding-second: 10px;
$padding-inner: $padding-second $padding-primary;


/* assets */
$border-radius: 2px;

$top-header-height: 80px;