$color-first: #1fb5ad;
$color-second: #32323a;
$color-third: #28282e;
$height-top-header: 80px;

@import "_fonts.scss";

body {
	margin: 0;
    background: #f1f2f7;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    display: flex;
}

/*		MENU		*/

aside.left {
    width: 240px;
    background: $color-second;
    display: flex;
    flex-direction: column;

	.title {
		display: flex;
		align-items: center;
		justify-content: center;
	    background: $color-first;
	    font-size: 1.5rem;
	    height: $height-top-header;
        text-align: center;

	    a {
	    	text-decoration: none;
	    	color: #fff;
	    }
	}

	.menu {
		padding: 0;
		margin: 0;
	 	text-align: center;
	  	float: left;
	    height: 100vh;

	    li {
	        &.active,
	    	a:hover {
				color: $color-first;
				background-color: $color-third;
	    	}

	    	&.active.expand {
	    		.sub {
	    			display: block;
	    		}
	    	
	    		a::after {
	    			transform: rotateZ(90deg);
	    		}
	    	}

	    	&.expand > a::after {
				content: "";
				background-image: url(../images/nav-expand.png);
				height: 17px;
				width: 17px;
				float: right;
			}

	    	a {
				padding: 20px;
				display: block;
				text-align: left;
				text-decoration: none;
				color: #aeb2b7;

				span {
					margin-left: 10px;
				}
	    	}

	    	.sub {
	    		display: none;
	    		margin: 0;
	    		padding: 0;

	    		a {
	    			padding: 15px 20px;
	    			text-align: left;

	    			&:hover,
	    			&.active {
	    				background-color: #202025;
	    			}
	    		}
	    	}
	    }

	    & > li {
	    	border-bottom: 1px solid rgba(64, 64, 64, 0.5);
	    }
	}
}


/*		CONTENT		*/
body .wrapper {
	flex-grow: 1;

	& > div:first-child {
		height: $height-top-header;
		background-color: #ffffff;
		box-shadow: 3px 0px 10px #d2d2d2;
	}

	.content {
		padding: 20px;
	}
}