@import "_fonts.scss";

body{
	margin: 0;
    background: #f1f2f7;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}

/*		MENU		*/

aside.left {
    width: 240px;
    background: #32323a;
    display: flex;
    flex-direction: column;

	.title {
	    background: #1fb5ad;
	    font-size: 1.5rem;
	    line-height: 80px;
	    height: 80px;
        text-align: center;

	    a {
	    	text-decoration: none;
	    	color: #fff;
	    }
	}

	.menu {
		padding: 0;
		margin: 0;
	 	text-align: center;
	  	float: left;
	    height: 100vh;
	}
}
