<% if(data.status && data.status != 0) { %>
	<div class="alert danger"><%= data.error %></div>
<% } %>

<canvas data-ui="canvas" id="canvas_stream"></canvas>

<div id="stream-control">
	<div class="timer">00:15:12</div>
	<button class="btn danger">Остановить</button>
</div>

<div class="container-flex">
	<div class="list-group">
		<div class="title">Источник видео</div>
		<ul class="body">
			<% for(let i = 0; i < data.videoDevices.length; i++) { %>
				<li><a href="#"> <%- '<span>' + data.videoDevices[i].name + '</span> <br>' + data.videoDevices[i].source%> </a></li>
			<%}%>
		</ul>
	</div>

	<div class="list-group">
		<div class="title">Источник звука</div>
		<ul class="body">
			<% for(let i = 0; i < data.audioDevices.length; i++) {  %>
				<li><a href="#"> <%- '<span>' + data.audioDevices[i].name + '</span> <br>' + data.audioDevices[i].path%> </a></li>
			<%}%>
		</ul>
</div>

<script src="/js/ctrl_stream.js"></script>