<canvas data-ui="canvas" id="canvas_stream"></canvas>

<div id="stream-control">
	<div class="timer">00:15:12</div>
	<button class="btn danger">Остановить</button>
</div>

<div>
	<div class="list-group">
		<div class="title">Источник видео</div>
		<ul class="body">
			<li><a href="#">Ащазаза</a></li>
			<li><a href="#">Лол кек чебурек</a></li>
			<li><a href="#">Пацаны на тралике</a></li>
			<li><a href="#">Сервый волк и поросенок Пётр</a></li>
		</ul>
	</div>
</div>

<script src="/js/ctrl_stream.js"></script>