<canvas data-ui="canvas" id="canvas_stream"></canvas>

<div>
  <div class="panel">
    <div class="title">Webcams</div>
    <div class="body">
      <input type="button" value="Click me" class="btn">
      <input type="text" name="">
    </div>
  </div>
</div>

<script src="/js/ctrl_stream.js"></script>