<% if(data.status != 0) { %>
	<div class="alert danger"><%= data.error %></div>
<% } else if(data.status == 0) { %>
	<div class="alert">Успешно добавлено</div>
<% } %>

<div class="panel">
	<div class="title">Добавить источник видео</div>
	<div class="body">
		<form method="POST">
			<div class="form-input">
				<div class="title">Название:</div>
				<input type="text" name="name">
			</div>
			<div class="form-input">
				<div class="title">URL:</div>
				<input type="text" name="url">
			</div>
			<div class="form-input right">
				<input type="submit" value="Добавить" class="btn">
			</div>
		</form>
	</div>
</div>

<div>
	<table>
		<tr>
			<td>Название</td>
			<td>Url</td>
			<td></td>
			<td></td>
		</tr>
		
	</table>
</div>

